{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Description of List Item</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<label>{{item.name }}</label>

					<label for="description">Description:</label>
					<label>{{item.description}}</label>

					<label>Login at the right top to modify this Item !</label>

			</form>
		</div>
	</div>
{% endblock %}